body {
 text-align: -webkit-center;
 overflow: hidden;
}
.topMnuClss {
  top: -10%;
  position: absolute;
}
.autoBuyerTDs {
  top: 25px;
  position: relative;
}
.autoBuyerTRs {
  position: relative;
}
#farms {
 left: -90px;
 top: 25%;
 width: 500px;
 height: 30px;
 border: 5px;
 position: absolute;
}
.farmBtns {
 height: 30px;
 width: 190px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
}
#farm1 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm2 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm3 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm4 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm5 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm6 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm7 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farm8 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
 position: relative;
}
#farmsMenu {
 height: 30px;
 width: 100px;
 left: 300px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#upgrdsMenu {
 height: 30px;
 width: 100px;
 left: 400px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#achMenu {
 height: 30px;
 width: 100px;
 left: 500px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#autoMenu {
 height: 30px;
 width: 100px;
 left: 600px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#unlockDrug {
height: 30px;
    width: 100px;
    top: -50px;
    left: 250px;
    color: cornsilk;
    background-color: #04AA6D;
    border-color: darkgrey;
    border-block-width: 3px;
    position: absolute;
}
#sell {
 height: 30px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#boostFarms {
    height: 30px;
    top: 130px;
    left: 50px;
    color: cornsilk;
    background-color: #04AA6D;
    border-color: darkgrey;
    border-block-width: 3px;
    position: absolute;
}
#boostTick {
    height: 30px;
    top: 170px;
    left: 50px;
    color: cornsilk;
    background-color: #04AA6D;
    border-color: darkgrey;
    border-block-width: 3px;
    position: absolute;
}
#priceDiv {
    height: 30px;
    top: 210px;
    left: 50px;
    color: cornsilk;
    background-color: #04AA6D;
    border-color: darkgrey;
    border-block-width: 3px;
    position: absolute;
}
#topMenu {
 position: relative;
 left: -35%;
}
#automation {
    position: relative !important;
    text-align: -webkit-center;
    height: 2px;
}
.autoBuyerDiv {
    border: solid 1px grey;
    width: 150px;
    height: 135px;
    text-align: center;
    font-size: 100%;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}
