body {
 text-align: -webkit-center;
}
.topMnuClss {


}
#farms {
 left: -90px;
 top: 25%;
 width: 500px;
 height: 30px;
 border: 5px;
 position: absolute;
}
.farmBtns {
 height: 30px;
 width: 190px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
}
#farm1 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm2 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm3 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm4 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm5 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm6 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm7 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farm8 {
 left: 10%;
 top: 60%;
 width: 100px;
 height: 30px;
 border: 5px;
}
#farmsMenu {
 height: 30px;
 width: 100px;
 left: 300px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#upgrdsMenu {
 height: 30px;
 width: 100px;
 left: 400px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#achMenu {
 height: 30px;
 width: 100px;
 left: 500px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#autoMenu {
 height: 30px;
 width: 100px;
 left: 600px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#unlockDrug {
height: 30px;
    width: 100px;
    top: -50px;
    left: 250px;
    color: cornsilk;
    background-color: #04AA6D;
    border-color: darkgrey;
    border-block-width: 3px;
    position: absolute;
}
#sell {
 height: 30px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
 position: absolute;
}
#boostFarms {
 height: 30px;
 color: cornsilk;
 background-color: #04AA6D;
 border-color: darkgrey;
 border-block-width: 3px;
}
#topMenu {
 position: relative;
 left: -35%;
}
#automation {
    position: relative !important;
    text-align: -webkit-center;
    
}
.autoBuyerDiv {
    top: 25px;
    border: solid 1px grey;
    width: 150px;
    height: 135px;
    text-align: center;
    font-size: 100%;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}
